<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <script src="../assets/js/global.js"></script>
    <script type="text/javascript" src="../assets/js/loadHtmlFile.js" ></script>
</head>
<body dir="rtl">
<div class="layout">
    <div w3-include-html="../structure/header.html"></div>
    <div w3-include-html="../structure/importantProjects.html"></div>
    <div w3-include-html="../structure/content/index.html"></div>
    <div w3-include-html="../structure/footer.html"></div>
</div>
</body>
<script>
    includeHTML();
</script>
</html>
