@import "./../abstracts/variables";

@font-face {
  font-family: IRANSans;
  src:url("../../css/fonts/Iranian Sans.ttf");
}

body{
  background-color: $body-background;
  font-family: IRANSans;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
}
