<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../../../assets/css/sidebar.css">
    <link rel="stylesheet" href="../../../../../assets/css/chooseEditor.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div class="editor-box-title-container d-flex flex-row-reverse align-items-center mb-4">
                    <h3 class="ml-2">انتخاب سردبیر</h3>
                </div>
                <div class="row">
                    <div class="col-md-4  mb-2 mb-md-0 editor-box d-flex flex-column justfy-content-center align-items-center ">
                        <a href="">
                            <img class="img-fluid w-100" src="https://t.nasimonline.ir/FileRepository/2020/11/14/637409501663381033.jpg?mode=stretch&w=320&h=240" alt="" />
                        </a>
                        <div class="d-flex flex-column p-3 bg-white editor-news-container">
                            <h6 class="editor-news-title mb-3"><a href=''>روحانی: مجلس حق نظارت بر دولت ندارد</a></h6>
                            <ul class="p-0 list-styled mb-0">
                                <li class="py-2"><a href="">روحانی: هزینه درمان در دولت تدبیر کاهش یافت</a></li>
                                <li class="py-2"><a href="">روحانی با استخدام ۱۲ هزار فرزند شهید و ایثارگر موافقت کرد</a></li>
                                <li class="py-2"><a href="">روحانی: کیفیت خودرو مطالبه مردم است</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4  mb-2 mb-md-0 editor-box d-flex flex-column justfy-content-center align-items-center ">
                        <a href="">
                            <img class="img-fluid w-100" src="https://t.nasimonline.ir/FileRepository/2020/11/14/637409501663381033.jpg?mode=stretch&w=320&h=240" alt="" />
                        </a>
                        <div class="d-flex flex-column p-3 bg-white editor-news-container">
                            <h6 class="editor-news-title mb-3"><a href=''>روحانی: مجلس حق نظارت بر دولت ندارد</a></h6>
                            <ul class="p-0 list-styled mb-0">
                                <li class="py-2"><a href="">روحانی: هزینه درمان در دولت تدبیر کاهش یافت</a></li>
                                <li class="py-2"><a href="">روحانی با استخدام ۱۲ هزار فرزند شهید و ایثارگر موافقت کرد</a></li>
                                <li class="py-2"><a href="">روحانی: کیفیت خودرو مطالبه مردم است</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4  mb-2 mb-md-0 editor-box d-flex flex-column justfy-content-center align-items-center ">
                        <a href="">
                            <img class="img-fluid w-100" src="https://t.nasimonline.ir/FileRepository/2020/11/14/637409501663381033.jpg?mode=stretch&w=320&h=240" alt="" />
                        </a>
                        <div class="d-flex flex-column p-3 bg-white editor-news-container">
                            <h6 class="editor-news-title mb-3"><a href=''>روحانی: مجلس حق نظارت بر دولت ندارد</a></h6>
                            <ul class="p-0 list-styled mb-0">
                                <li class="py-2"><a href="">روحانی: هزینه درمان در دولت تدبیر کاهش یافت</a></li>
                                <li class="py-2"><a href="">روحانی با استخدام ۱۲ هزار فرزند شهید و ایثارگر موافقت کرد</a></li>
                                <li class="py-2"><a href="">روحانی: کیفیت خودرو مطالبه مردم است</a></li>
                            </ul>
                        </div>
                    </div>


                </div>





            </div>

        </div>
    </div>
</body>

</html>