<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../../../assets/css/sidebar.css">

</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="last-news white-box">
                    <div class="holder-title">
                        <a href="">
                            <h3 class="title">آخرین اخبار مهم</h3>
                        </a>
                    </div>

                    <div class="holder-content p-2">
                        <div class="list-news">
                            <div class="item py-2"><a href="">حسن روحانی: کیفیت خودرو مطالبه مردم است</a></div>
                            <div class="item py-2"><a href="">موافقت دولت با اصلاح لایحه بودجه ۱۴۰۰</a></div>
                            <div class="item py-2"><a href="">آیین تجلیل از خانواده‌های شهدای مدافع سلامت برگزار شد</a></div>
                            <div class="item py-2"><a href="">فیلم: روایت رهبر انقلاب از نقش پرستاران</a></div>
                            <div class="item py-2"> <a href="">شرایط داوطلبان ریاست جمهوری مشخص شد</a></div>
                            <div class="item py-2"><a href="">عکس: ترجمه آیه نصب شده بر کتیبه حسینیه امام خمینی (ره</a></div>
                            <div class="item py-2"><a href="">حسن روحانی: کیفیت خودرو مطالبه مردم است</a></div>
                            <div class="item py-2"><a href="">موافقت دولت با اصلاح لایحه بودجه ۱۴۰۰</a></div>
                            <div class="item py-2"><a href="">آیین تجلیل از خانواده‌های شهدای مدافع سلامت برگزار شد</a></div>
                            <div class="item py-2"><a href="">فیلم: روایت رهبر انقلاب از نقش پرستاران</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

</html>