<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../../../assets/css/sidebar.css">

</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="note white-box">
                    <div class="holder-title">
                        <a href="">
                            <h3 class="title">یادداشت</h3>
                        </a>
                    </div>

                    <div class="holder-content p-2">
                        <div class="list-news">
                            <div class="item d-flex flex-row-reverse align-items-center py-2">
                                <div class="img">
                                    <a href="">
                                        <img src="../../../../../assets/images/not-01.jpg" alt="">
                                    </a>
                                </div>

                                <div class="text px-3">
                                    <a href="">
                                        <div class="author mb-1">حسن رحیم‌پور ازغدی </div>
                                        <div class="title">از جعبه تحریم بیرون بیا</div>
                                    </a>


                                </div>
                            </div>
                            <div class="item d-flex flex-row-reverse align-items-center py-2">
                                <div class="img">
                                    <a href="">
                                        <img src="../../../../../assets/images/not-01.jpg" alt="">
                                    </a>
                                </div>

                                <div class="text px-3">
                                    <a href="">
                                        <div class="author mb-1">حسن رحیم‌پور ازغدی </div>
                                        <div class="title">از جعبه تحریم بیرون بیا</div>
                                    </a>


                                </div>
                            </div>
                            <div class="item d-flex flex-row-reverse align-items-center py-2">
                                <div class="img">
                                    <a href="">
                                        <img src="../../../../../assets/images/not-01.jpg" alt="">
                                    </a>
                                </div>

                                <div class="text px-3">
                                    <a href="">
                                        <div class="author mb-1">حسن رحیم‌پور ازغدی </div>
                                        <div class="title">از جعبه تحریم بیرون بیا</div>
                                    </a>


                                </div>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

</html>